# dependencies
node_modules/

# builds
web/dist/
functions/lib/
*.tsbuildinfo

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
functions/.env.*
!functions/.env.example

# misc
.DS_Store
*.pem
npm-debug.log*

# editor
.vscode/
.idea/
